<div id="<%= dom_id project %>">


  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title"><%= project.title %></h5>
      <p class="card-text"><%= project.description %></p>
      <%= link_to "Ver proyecto", project, class:"card-link" %>
    </div>
  </div>

</div>
