<p style="color: green"><%= notice %></p>

<h2><%= @project.title %></h2>

<span class="fw-bold">Lista de tareas:</span>
<ul>
  <li></li>
</ul>
  <%= link_to "Back to projects", projects_path %>
  <%= button_to "Eliminar proyecto", @project, method: :delete %>

