h1 {
  margin-bottom: 32px;
}

/* GENERAL */

.task-app {
  padding-top: 64px;
  position: relative;
}
.add-icon {
  color: green;
}

/* LAYOUT NAV VIEW */
.welcome-username {
  margin-bottom: 0;
  color: white;
}

/* MESSAGES NAV VIEW */

.messages-container {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(0, 10px);
  width: 90%;
}

/* LOGIN VIEW */
.form-login {
  margin: 15px 0;
  padding: 32px 58px;
  width: 40%;
}

.login-links {
  align-items: center;
}

.login-links a:link,
.login-links a:visited {
  text-decoration: none;
}

/* PROJECTS VIEW */
.projects-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
